@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainPage {
    background-color: #F7F8FD;
    width: 100vw;
    height: 856px;
    display: flex;
    justify-content: center;
}

.content {
    width: 1280px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    height: 49px;
    align-content: center;
}
.navigation{
    display: flex;
    height: 49px;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    color: var(--Primary, #03045E);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.navigation a{
    text-decoration: none;
}
.navigation button{
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 11px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--Primary, #03045E);
    border: none;
}
.info{
    margin-top: 121px;
    display: flex;
    flex-direction: row;
    height: 456px;
    align-items: center;
}
.info div{
    
    flex-direction: column;
    width: 585px;
    display: flex;
    gap: 36px;
    
}
.info div .subTitle{
    color: #03045E;
    font-family: "Ubuntu", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px;
    width: 556px;
}
.info div h2{
    color: rgba(3, 4, 94, 0.50);
    font-family: "Poppins", sans-serif;
    width: 556px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.info div button{
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: var(--Secondary, #0098FF);
    width: 188px;
    height: 61px;
    border: none;
}
.search{
    height: 434px;
    width: 100vw;
    background-color: white;
}
.search .content{
    width: 1280px;
    height: 434px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 138px;
}
.search .content .searchDomain h2{
    width: 381px;
    color: var(--Primary, #03045E);
    font-family: "Ubuntu", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.search .content .searchDomain{
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.search .content .searchDomain .input{
    width: 540px;
    height: 60px;
    display: flex;
    flex-direction: row;
}
.search .content .searchDomain .input input{
    width: 466px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background: var(--gray-background, #F6F6F6);
    color: var(--Primary, #03045E);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
}
.search .content .searchDomain .input button{
    width: 159px;
    height: 60px;
    border-radius: 0px 5px 5px 0px;
    background: var(--Secondary, #0098FF);
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}
.search .content .domainsGrid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    height: 134px;
    width: 501px;
    row-gap: 32px;
    column-gap: 117px;
}

.search .content .domainsGrid div{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.search .content .domainsGrid div .domain{
    color: var(--Secondary, #0098FF);
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.search .content .domainsGrid div .price{
    color: var(--Primary, #03045E);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.3;
}
.services{
    width: 100vw;
    background: var(--gray-background, #F6F6F6);
    height: 996px;
    display: flex;
    justify-content: center;
}
.services .content{
    width: 1280px;
    height: 996px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.services .content h2{
    color: var(--Primary, #03045E);
    font-family: "Ubuntu", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 250px;
}
.services .content .gridServices{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    row-gap: 80px;
}

.services .content .gridServices .gridItem .icon{
    width: 100px;
    height: 100px;
    fill: var(--gray-background, #F6F6F6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.services .content .gridServices .gridItem{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 407px;
    height: 255px;
}
.services .content .gridServices .gridItem .description{
    color: var(--Primary, #03045E);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}
.services .content .gridServices .gridItem .name{
    color: var(--Primary, #03045E);
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.reviews{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviews .content{
    width: 1280px;
    height: 717px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviews .content h2{
    width: 500px;
    text-align: center;
    color: var(--Primary, #03045E);
    font-family: "Ubuntu", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.reviews .content .reviewsContainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.reviews .content .reviewsContainer .review{
    background: var(--gray-background, #F6F6F6);
    width: 407px;
    height: 263px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.reviews .content .reviewsContainer .review .reviewText{
    color: var(--Primary, #03045E);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 327px;
    text-align: center;
    opacity: 0.5;
}

.reviews .content .reviewsContainer .author{
    color: var(--Primary, #03045E);
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
}

.reviews .content .reviewsContainer .location{
    color: var(--Primary, #03045E);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
    opacity: 0.5;
}
.dots{
    margin-top: 40px;
}
.infoSection{
    background: #0098FF;
    height: 315px;
    width: 100vw;
}
.infoSection .content{
    width: 1280px;
    height: 315px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: row;
}
.infoSection .content .infoItem{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    width: 297px;
}
.infoSection .content .infoItem .number{
    color: #FFF;
    font-family: "Ubuntu", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.infoSection .content .infoItem .title{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer{
    background: var(--gray-background, #F6F6F6);
    height: 472px;
    width: 100vw;
}
footer .content{
    width: 1280px;
    height: 472px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    gap: 103px;
}
footer .content .item{
    display: flex;
    flex-direction: column;
}
footer .content .item .comDescription{
    color: var(--Primary, #03045E);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 297px;
    margin-top: 24px;
    opacity: 0.5;
}

footer .content .item h2{
    color: #000;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 14px;
}
footer .content .item a{
    text-decoration: none;
    opacity: 0.5;
}
footer .content .item a h2{
    color: var(--Primary, #03045E);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    width: 187px;
}
footer .content .item .icons{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.copyright{
    height: 102px;
    width: 100vw;
    background-color: white;
}
.copyright .content{
    width: 1280px;
    height: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright .content h2{
    color: var(--Primary, #03045E);
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}